---
import SocialButton from '@/components/SocialButton.astro'

import Copy from '@/assets/svg/copy.svg'
import Spinner from '@/assets/svg/spinner.svg'
import Check from '@/assets/svg/check.svg'
import OpenSVG from '@/assets/svg/open.svg'

interface Props {
    icon: any;
    iconLabel: string;
    value: string;
    href: string;
}

const { icon: Icon, iconLabel, value, href }: Props = Astro.props;
---

<div class="contact-item flex flex-col justify-center mt-4" data-contact>
    <Icon class="w-12.5 h-12.5 text-skin"/>
    <span class="text-text-1 text-lg font-bold">{iconLabel}</span>

    <div class="flex flex-col md:flex-row gap-3 md:items-center">
        <span
            class="copy-value text-text-3"
            data-value={value}
        >
            {value}
        </span>
        
        <div class="flex flex-row gap-3">
            <button
                class="copy-btn flex items-center justify-center rounded-4xl bg-skin w-20 h-10 btn-hover transition-transform duration-300"
                aria-label={`Copy ${iconLabel}`}
            >
                <Copy class="copy-icon w-5 h-5 text-bg-1"/>
                <Spinner class="spinner-icon w-5 h-5 text-bg-1 animate-spin hidden"/>
                <Check class="check-icon w-5 h-5 text-bg-1 hidden"/>
                <span class="error-icon text-lg font-bold text-bg-1 hidden">X</span>
            </button>
    
            <SocialButton
                href={href}
                icon={OpenSVG}
                anchorSize="w-20 h-10"
                anchorRounded="rounded-4xl"
                iconSize="w-5 h-5"
            />
        </div>
    </div>
</div>