---
import WcgImage  from "../assets/imgs/wcg-logo.webp";
import GreyhillIncidentImage from "../assets/imgs/greyhill-incident.webp";
import BotBowlIVImage from "../assets/imgs/botbowl-iv.webp";
import HooverImage  from "../assets/imgs/hoover-game.webp"

import SectionTitle from "./SectionTitle.astro"
import TimeLine from "./TimeLine.astro"
import ProfessionalExperienceTimeLineElement from "./ProfessionalExperienceTimeLineElement.astro"
---

<section class="flex flex-col bg-bg-2">
    <SectionTitle sectionTitle="Professional Experience"/>
    <TimeLine>
        <ProfessionalExperienceTimeLineElement
            title="World Challenge Game"
            workingPosition="Junior Game Developer"
            company="World Challenge Game"
            projectImage={WcgImage}
            projectImageAlt="World Challenge Game"
            descriptionForLinks="Available"
            links={[
                {href: "https://play.google.com/store/apps/details?id=com.worldchallengegame.app&hl=es_419", label: "Android"},
                {href: "https://apps.apple.com/es/app/world-challenge-trivia-war/id6741163659", label: "iOS"}
            ]}
        >
            <p>Development of the videogame of the same name and of the game's contender app, World Challenge Trivia War.</p>
            <br>
            <p>The game was developed using <strong>Kotlin</strong> with <strong>CreateJS</strong> and <strong>Animate</strong>.</p>
            <p>The app was developed using <strong>Kotlin</strong> with <strong>NativeScript</strong>.</p>
        </ProfessionalExperienceTimeLineElement>

        <ProfessionalExperienceTimeLineElement
            title="Greyhill Incident (Porting PS5/XSX)"
            workingPosition="Porting Programmer"
            company="Catness Games Studios"
            projectImage={GreyhillIncidentImage}
            projectImageAlt="Greyhill Incident"
        >
            <p>Work done at Catness Game Studios using Unreal Engine 4 where we had to adapt to the developer's original code, fix the bugs we were finding and make performance improvements and engagement for the different consoles.</p>
        </ProfessionalExperienceTimeLineElement>

        <ProfessionalExperienceTimeLineElement
            title="3rd Position in Bot Bowl IV"
            workingPosition="AI Programmer"
            company="an internship at the UJI"
            projectImage={BotBowlIVImage}
            projectImageAlt="Bot Bowl IV"
            descriptionForLinks="Full project in"
            links={[
                {href: "https://github.com/AdriMon27/BotBowlUJI", label: "AdriMon27/BotBowlUJI"},
            ]}
        >
            <p>Collaboration grant at the UJI in which I worked on the development of a bot for Bot Bowl IV during the months of May, June and July.</p>
            <br>
            <p>The bases of the project were given by the organisers of the competition and once I had that, I dedicated myself to making an OSLA algorithm mixing it with logical stopping conditions to the game.</p>
        </ProfessionalExperienceTimeLineElement>

        <ProfessionalExperienceTimeLineElement
            title="Litter-Happy Hoover Madness (PC)"
            workingPosition="Game Programmer"
            company="collaborative project of UJI with University of Glasgow"
            projectImage={HooverImage}
            projectImageAlt="Litter-Happy Hoover Madness"
            descriptionForLinks="Complete description in"
            links={[
                {href: "https://crocolocobear.itch.io/hoover-game", label: "itch.io"},
            ]}
            isLastElement={true}
        >
            <p>We were 2 teams of 4 people, 2 from UJI and 2 from University of Glasgow in each group.</p>
            <br>
            <p>We had to make a social awareness game about the environment in the months of July to September 2021.</p>
        </ProfessionalExperienceTimeLineElement>
    </TimeLine>
</section>